.node {
  transition: all 0.3s ease;
}

.node:hover {
  transform: scale(1.1) translate(-45%, -45%) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.line {
  transition: all 0.3s ease;
}

.tooltip {
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.node:hover .tooltip {
  opacity: 1;
}
